USE [Universidad]
GO
/****** Objeto: Table [dbo].[Canton] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[id_Canton] [int] IDENTITY(1,1) NOT NULL,
	[id_Provincia] [int] NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[usuarioCrea] [varchar](80) NULL,
	[fechaCrea] [datetime] NOT NULL,
	[usuarioModifica] [varchar](80) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](15) NOT NULL,
	[id_CantonInec] [int] NOT NULL,
 CONSTRAINT [PK_Canton] PRIMARY KEY CLUSTERED 
(
	[id_Canton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Canton] UNIQUE NONCLUSTERED 
(
	[id_Provincia] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CarrerasUniversitarias] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrerasUniversitarias](
	[idCuniversitaria] [int] IDENTITY(1,1) NOT NULL,
	[idDireccionCarrera] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Codigo] [int] NOT NULL,
 CONSTRAINT [PK_Carreras] PRIMARY KEY CLUSTERED 
(
	[idCuniversitaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Carrera_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Carrera_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cuatrimestre] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuatrimestre](
	[idCuatrimestre] [int] IDENTITY(1,1) NOT NULL,
	[idCuatri_matri] [int] NOT NULL,
	[idSede] [int] NOT NULL,
	[numero] [tinyint] NOT NULL,
	[anio] [smallint] NOT NULL,
	[NombreCuatri] [varchar](50) NOT NULL,
	[NombreSede] [varchar](100) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[fecha_apertura] [date] NOT NULL,
	[fecha_cierre] [date] NULL,
 CONSTRAINT [PK_Cuatrimestre] PRIMARY KEY CLUSTERED 
(
	[idCuatrimestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cuatrimestre] UNIQUE NONCLUSTERED 
(
	[idSede] ASC,
	[anio] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cursos] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[idCurso] [int] IDENTITY(1,1) NOT NULL,
	[id_cursomatr] [int] NOT NULL,
	[Codigo] [int] NOT NULL,
	[nombreCurso] [varchar](100) NOT NULL,
	[id_prerrequisito] [int] NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Curso_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Curso_Nombre] UNIQUE NONCLUSTERED 
(
	[nombreCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cursos_Carrera] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos_Carrera](
	[id_cursoscarrera] [int] IDENTITY(1,1) NOT NULL,
	[id_carrera] [int] NOT NULL,
	[id_curso] [int] NOT NULL,
 CONSTRAINT [PK_CursosCarrera] PRIMARY KEY CLUSTERED 
(
	[id_cursoscarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CursosCarrera] UNIQUE NONCLUSTERED 
(
	[id_carrera] ASC,
	[id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DireccionesCarrera] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionesCarrera](
	[idDcarrera] [int] IDENTITY(1,1) NOT NULL,
	[id_funcionario] [int] NOT NULL,
	[id_subdirector] [int] NULL,
	[Codigo] [int] NOT NULL,
	[Director] [varchar](100) NOT NULL,
	[SubDirector] [varchar](100) NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[idDcarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Direccion_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Direccion_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Distrito] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id_Distrito] [int] IDENTITY(1,1) NOT NULL,
	[id_Canton] [int] NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[usuarioCrea] [varchar](80) NULL,
	[fechaCrea] [datetime] NOT NULL,
	[usuarioModifica] [varchar](80) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](15) NOT NULL,
	[id_DistritoInec] [int] NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id_Distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Distrito] UNIQUE NONCLUSTERED 
(
	[id_Canton] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estudiantes] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[id_matriculaes] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cedula] [int] NOT NULL,
	[provincia] [int] NOT NULL,
	[canton] [int] NOT NULL,
	[distrito] [int] NOT NULL,
	[carne] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estudiante_Carne] UNIQUE NONCLUSTERED 
(
	[carne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Estudiante_Cedula] UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Funcionario] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cedula] [int] NOT NULL,
	[provincia] [int] NOT NULL,
	[canton] [int] NOT NULL,
	[distrito] [int] NOT NULL,
	[fecha_contratacion] [date] NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Funcionario_Cedula] UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Matricula] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[id_matricula] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_curso] [int] NOT NULL,
	[id_sede] [int] NOT NULL,
	[id_cuatrimestre] [int] NOT NULL,
	[nombre_estudiante] [varchar](100) NULL,
	[nombre_curso] [varchar](100) NULL,
	[nombre_sede] [varchar](100) NULL,
	[cuatrimestre] [varchar](50) NULL,
	[fecha_matricula] [datetime] NOT NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[id_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Matricula] UNIQUE NONCLUSTERED 
(
	[id_estudiante] ASC,
	[id_curso] ASC,
	[id_sede] ASC,
	[id_cuatrimestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Oferta] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oferta](
	[id_oferta] [int] IDENTITY(1,1) NOT NULL,
	[id_curso] [int] NOT NULL,
	[id_sede] [int] NOT NULL,
	[id_cuatrimestre] [int] NOT NULL,
	[finalizada] [bit] NOT NULL,
 CONSTRAINT [PK_Oferta] PRIMARY KEY CLUSTERED 
(
	[id_oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Oferta] UNIQUE NONCLUSTERED 
(
	[id_curso] ASC,
	[id_sede] ASC,
	[id_cuatrimestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Provincia] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[usuarioCrea] [varchar](80) NULL,
	[fechaCrea] [datetime] NOT NULL,
	[usuarioModifica] [varchar](80) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Provincia_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RegistroNotas] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroNotas](
	[idRegistro_Notas] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NULL,
	[idestudiante] [int] NOT NULL,
	[Curso] [int] NOT NULL,
	[Sede] [int] NOT NULL,
	[id_cuatrimestre] [int] NULL,
	[Nota Final] [decimal](4, 2) NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_RegistroNotas] PRIMARY KEY CLUSTERED 
(
	[idRegistro_Notas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Nota_Matricula] UNIQUE NONCLUSTERED 
(
	[id_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SedesUniversitarias] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SedesUniversitarias](
	[idSedeuniversitaria] [int] IDENTITY(1,1) NOT NULL,
	[id_matriculasede] [int] NOT NULL,
	[codigo] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_funcionario] [int] NOT NULL,
	[id_provincia] [int] NOT NULL,
	[id_canton] [int] NOT NULL,
	[id_distrito] [int] NOT NULL,
	[DireccionFisica] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Sedes] PRIMARY KEY CLUSTERED 
(
	[idSedeuniversitaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sede_Codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sede_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](100) NOT NULL,
	[correoElectronico] [varchar](150) NOT NULL,
	[contrasena] [varchar](100) NOT NULL,
	[Tipo_Usuario] [varchar](20) NOT NULL,
	[Fecha_Ingreso] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[correoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF_Canton_Fecha]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF_Canton_Estado]  DEFAULT ('Activo') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF_Canton_Inec]  DEFAULT ((0)) FOR [id_CantonInec]
GO
ALTER TABLE [dbo].[Cuatrimestre] ADD  CONSTRAINT [DF_Cuatrimestre_Matricula]  DEFAULT ((0)) FOR [idCuatri_matri]
GO
ALTER TABLE [dbo].[Cuatrimestre] ADD  CONSTRAINT [DF_Cuatrimestre_Estado]  DEFAULT ('Abierto') FOR [Estado]
GO
ALTER TABLE [dbo].[Cuatrimestre] ADD  CONSTRAINT [DF_Cuatrimestre_Apertura]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_apertura]
GO
ALTER TABLE [dbo].[Cursos] ADD  CONSTRAINT [DF_Curso_Matricula]  DEFAULT ((0)) FOR [id_cursomatr]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF_Distrito_Fecha]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF_Distrito_Estado]  DEFAULT ('Activo') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  CONSTRAINT [DF_Estudiante_Matricula]  DEFAULT ((0)) FOR [id_matriculaes]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  CONSTRAINT [DF_Estudiante_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[Matricula] ADD  CONSTRAINT [DF_Matricula_Fecha]  DEFAULT (getdate()) FOR [fecha_matricula]
GO
ALTER TABLE [dbo].[Oferta] ADD  CONSTRAINT [DF_Oferta_Finalizada]  DEFAULT ((0)) FOR [finalizada]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF_Provincia_Fecha]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF_Provincia_Estado]  DEFAULT ('Activo') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[RegistroNotas] ADD  CONSTRAINT [DF_Nota_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[SedesUniversitarias] ADD  CONSTRAINT [DF_Sede_Matricula]  DEFAULT ((0)) FOR [id_matriculasede]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Fecha]  DEFAULT (getdate()) FOR [Fecha_Ingreso]
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[CarrerasUniversitarias]  WITH CHECK ADD  CONSTRAINT [FK_Carrera_Direccion] FOREIGN KEY([idDireccionCarrera])
REFERENCES [dbo].[DireccionesCarrera] ([idDcarrera])
GO
ALTER TABLE [dbo].[CarrerasUniversitarias] CHECK CONSTRAINT [FK_Carrera_Direccion]
GO
ALTER TABLE [dbo].[Cuatrimestre]  WITH CHECK ADD  CONSTRAINT [FK_Cuatrimestre_Sede] FOREIGN KEY([idSede])
REFERENCES [dbo].[SedesUniversitarias] ([idSedeuniversitaria])
GO
ALTER TABLE [dbo].[Cuatrimestre] CHECK CONSTRAINT [FK_Cuatrimestre_Sede]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Prerrequisito] FOREIGN KEY([id_prerrequisito])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Curso_Prerrequisito]
GO
ALTER TABLE [dbo].[Cursos_Carrera]  WITH CHECK ADD  CONSTRAINT [FK_CC_Carrera] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[CarrerasUniversitarias] ([idCuniversitaria])
GO
ALTER TABLE [dbo].[Cursos_Carrera] CHECK CONSTRAINT [FK_CC_Carrera]
GO
ALTER TABLE [dbo].[Cursos_Carrera]  WITH CHECK ADD  CONSTRAINT [FK_CC_Curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[Cursos_Carrera] CHECK CONSTRAINT [FK_CC_Curso]
GO
ALTER TABLE [dbo].[DireccionesCarrera]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Director] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[DireccionesCarrera] CHECK CONSTRAINT [FK_Direccion_Director]
GO
ALTER TABLE [dbo].[DireccionesCarrera]  WITH CHECK ADD  CONSTRAINT [FK_Direccion_Subdirector] FOREIGN KEY([id_subdirector])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[DireccionesCarrera] CHECK CONSTRAINT [FK_Direccion_Subdirector]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Canton] FOREIGN KEY([id_Canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Canton]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Canton] FOREIGN KEY([canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiante_Canton]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Distrito] FOREIGN KEY([distrito])
REFERENCES [dbo].[Distrito] ([id_Distrito])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiante_Distrito]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Provincia] FOREIGN KEY([provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiante_Provincia]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Canton] FOREIGN KEY([canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Canton]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Distrito] FOREIGN KEY([distrito])
REFERENCES [dbo].[Distrito] ([id_Distrito])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Distrito]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Provincia] FOREIGN KEY([provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Provincia]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Cuatrimestre] FOREIGN KEY([id_cuatrimestre])
REFERENCES [dbo].[Cuatrimestre] ([idCuatrimestre])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Cuatrimestre]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Curso]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Estudiante]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Sede] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SedesUniversitarias] ([idSedeuniversitaria])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Sede]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Cuatrimestre] FOREIGN KEY([id_cuatrimestre])
REFERENCES [dbo].[Cuatrimestre] ([idCuatrimestre])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK_Oferta_Cuatrimestre]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK_Oferta_Curso]
GO
ALTER TABLE [dbo].[Oferta]  WITH CHECK ADD  CONSTRAINT [FK_Oferta_Sede] FOREIGN KEY([id_sede])
REFERENCES [dbo].[SedesUniversitarias] ([idSedeuniversitaria])
GO
ALTER TABLE [dbo].[Oferta] CHECK CONSTRAINT [FK_Oferta_Sede]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Cuatrimestre] FOREIGN KEY([id_cuatrimestre])
REFERENCES [dbo].[Cuatrimestre] ([idCuatrimestre])
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [FK_Nota_Cuatrimestre]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Curso] FOREIGN KEY([Curso])
REFERENCES [dbo].[Cursos] ([idCurso])
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [FK_Nota_Curso]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Estudiante] FOREIGN KEY([idestudiante])
REFERENCES [dbo].[Estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [FK_Nota_Estudiante]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [FK_Nota_Matricula]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Sede] FOREIGN KEY([Sede])
REFERENCES [dbo].[SedesUniversitarias] ([idSedeuniversitaria])
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [FK_Nota_Sede]
GO
ALTER TABLE [dbo].[SedesUniversitarias]  WITH CHECK ADD  CONSTRAINT [FK_Sede_Canton] FOREIGN KEY([id_canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[SedesUniversitarias] CHECK CONSTRAINT [FK_Sede_Canton]
GO
ALTER TABLE [dbo].[SedesUniversitarias]  WITH CHECK ADD  CONSTRAINT [FK_Sede_Distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[Distrito] ([id_Distrito])
GO
ALTER TABLE [dbo].[SedesUniversitarias] CHECK CONSTRAINT [FK_Sede_Distrito]
GO
ALTER TABLE [dbo].[SedesUniversitarias]  WITH CHECK ADD  CONSTRAINT [FK_Sede_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[SedesUniversitarias] CHECK CONSTRAINT [FK_Sede_Funcionario]
GO
ALTER TABLE [dbo].[SedesUniversitarias]  WITH CHECK ADD  CONSTRAINT [FK_Sede_Provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[SedesUniversitarias] CHECK CONSTRAINT [FK_Sede_Provincia]
GO
ALTER TABLE [dbo].[Cuatrimestre]  WITH CHECK ADD  CONSTRAINT [CK_Cuatrimestre_Estado] CHECK  (([Estado]='Cerrado' OR [Estado]='Abierto'))
GO
ALTER TABLE [dbo].[Cuatrimestre] CHECK CONSTRAINT [CK_Cuatrimestre_Estado]
GO
ALTER TABLE [dbo].[Cuatrimestre]  WITH CHECK ADD  CONSTRAINT [CK_Cuatrimestre_Numero] CHECK  (([numero]>=(1) AND [numero]<=(3)))
GO
ALTER TABLE [dbo].[Cuatrimestre] CHECK CONSTRAINT [CK_Cuatrimestre_Numero]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [CK_Nota_Estado] CHECK  (([Estado]='Reprobado' OR [Estado]='Aprobado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [CK_Nota_Estado]
GO
ALTER TABLE [dbo].[RegistroNotas]  WITH CHECK ADD  CONSTRAINT [CK_Nota_Rango] CHECK  (([Nota Final] IS NULL OR [Nota Final]>=(0) AND [Nota Final]<=(10)))
GO
ALTER TABLE [dbo].[RegistroNotas] CHECK CONSTRAINT [CK_Nota_Rango]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Tipo] CHECK  (([Tipo_Usuario]='Consultor' OR [Tipo_Usuario]='Administrador'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Tipo]
GO
/****** Objeto: StoredProcedure [dbo].[RetornaCantones] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaCantones] @nombre varchar(80)=NULL,@id_Provincia int=NULL AS
 SELECT c.id_Canton,c.id_Provincia,c.nombre,p.nombre Provincia,c.usuarioCrea,c.fechaCrea,c.usuarioModifica,c.fechaModifica,c.vc_Estado,c.id_CantonInec FROM dbo.Canton c JOIN dbo.Provincia p ON p.id_Provincia=c.id_Provincia WHERE (@id_Provincia IS NULL OR c.id_Provincia=@id_Provincia) AND (NULLIF(@nombre,'') IS NULL OR c.nombre LIKE '%'+@nombre+'%') ORDER BY c.nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaCantonesID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaCantonesID] @id_Canton int AS SELECT c.id_Canton,c.id_Provincia,c.nombre,p.nombre Provincia,c.usuarioCrea,c.fechaCrea,c.usuarioModifica,c.fechaModifica,c.vc_Estado,c.id_CantonInec FROM dbo.Canton c JOIN dbo.Provincia p ON p.id_Provincia=c.id_Provincia WHERE c.id_Canton=@id_Canton;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaCarrera] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaCarrera] @carrera varchar(100)=NULL AS SELECT idCuniversitaria,idDireccionCarrera,Nombre,Codigo FROM dbo.CarrerasUniversitarias WHERE NULLIF(@carrera,'') IS NULL OR Nombre LIKE '%'+@carrera+'%' ORDER BY Nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaCuatrimestre] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaCuatrimestre] @nombre varchar(50)=NULL AS SELECT idCuatrimestre id_cuatrimestre,NombreCuatri nombre,idSede id_sede,NombreSede sede,Estado estado FROM dbo.Cuatrimestre WHERE NULLIF(@nombre,'') IS NULL OR NombreCuatri LIKE '%'+@nombre+'%' ORDER BY anio DESC,numero DESC;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaCurso] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaCurso] @curso varchar(100)=NULL AS SELECT idCurso,id_cursomatr,Codigo,nombreCurso FROM dbo.Cursos WHERE NULLIF(@curso,'') IS NULL OR nombreCurso LIKE '%'+@curso+'%' ORDER BY nombreCurso;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaDireccion] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[RetornaDireccion]
    @nombre varchar(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        d.idDcarrera,
        d.id_funcionario,
        d.Codigo,
        d.Director,
        ISNULL(d.SubDirector, '') AS SubDirector,
        d.Nombre
    FROM dbo.DireccionesCarrera AS d
    WHERE NULLIF(@nombre, '') IS NULL
       OR d.Nombre LIKE '%' + @nombre + '%'
    ORDER BY d.Nombre;
END;
GO
/****** Objeto: StoredProcedure [dbo].[RetornaDistritos] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaDistritos] @nombre varchar(80)=NULL,@id_Canton int=NULL AS
 SELECT d.id_Distrito,d.id_Canton,d.nombre,c.nombre Canton,d.usuarioCrea,d.fechaCrea,d.usuarioModifica,d.fechaModifica,d.vc_Estado,d.id_DistritoInec FROM dbo.Distrito d JOIN dbo.Canton c ON c.id_Canton=d.id_Canton WHERE (@id_Canton IS NULL OR d.id_Canton=@id_Canton) AND (NULLIF(@nombre,'') IS NULL OR d.nombre LIKE '%'+@nombre+'%') ORDER BY d.nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaDistritos_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaDistritos_ID] @id_Distrito int AS SELECT d.id_Distrito,d.id_Canton,d.nombre,c.nombre Canton,d.usuarioCrea,d.fechaCrea,d.usuarioModifica,d.fechaModifica,d.vc_Estado,d.id_DistritoInec FROM dbo.Distrito d JOIN dbo.Canton c ON c.id_Canton=d.id_Canton WHERE d.id_Distrito=@id_Distrito;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaEstado] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaEstado] @nombre varchar(50)=NULL AS
 SELECT id_estado,estado FROM (VALUES(1,'Aprobado'),(2,'Reprobado'),(3,'Pendiente'))E(id_estado,estado) WHERE NULLIF(@nombre,'') IS NULL OR estado LIKE '%'+@nombre+'%';

GO
/****** Objeto: StoredProcedure [dbo].[RetornaEstudiante] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaEstudiante] @nombre varchar(100)=NULL AS
 SELECT id_estudiante,id_matriculaes,nombre,cedula,provincia id_provincia,canton id_canton,distrito id_distrito,carne FROM dbo.Estudiantes WHERE NULLIF(@nombre,'') IS NULL OR nombre LIKE '%'+@nombre+'%' ORDER BY nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaFuncionario] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaFuncionario] @nombre varchar(100)=NULL AS SELECT * FROM dbo.Funcionario WHERE NULLIF(@nombre,'') IS NULL OR nombre LIKE '%'+@nombre+'%' ORDER BY nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaProvincias] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaProvincias] @nombre varchar(80)=NULL AS
 SELECT id_Provincia,nombre,usuarioCrea,fechaCrea,usuarioModifica,fechaModifica,vc_Estado FROM dbo.Provincia WHERE NULLIF(@nombre,'') IS NULL OR nombre LIKE '%'+@nombre+'%' ORDER BY nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaSedes] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RetornaSedes] @nombre varchar(100)=NULL AS SELECT idSedeuniversitaria,nombre FROM dbo.SedesUniversitarias WHERE NULLIF(@nombre,'') IS NULL OR nombre LIKE '%'+@nombre+'%' ORDER BY nombre;

GO
/****** Objeto: StoredProcedure [dbo].[RetornaUsuarioCorreoPwd] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* AUTENTICACION Y CATALOGOS */
CREATE   PROCEDURE [dbo].[RetornaUsuarioCorreoPwd] @correoElectronico varchar(150), @contrasena varchar(100) AS
BEGIN
 SET NOCOUNT ON;
 DECLARE @ultimo datetime;
 DECLARE @hash varchar(64)=CONVERT(varchar(64),HASHBYTES('SHA2_256',@contrasena),2);
 SELECT @ultimo=Fecha_Ingreso FROM dbo.Usuarios WHERE correoElectronico=@correoElectronico AND contrasena=@hash;
 SELECT id_Usuario,nombreCompleto,correoElectronico,contrasena,Tipo_Usuario,ISNULL(@ultimo,GETDATE()) Fecha_Ingreso
 FROM dbo.Usuarios WHERE correoElectronico=@correoElectronico AND contrasena=@hash;
 UPDATE dbo.Usuarios SET Fecha_Ingreso=GETDATE() WHERE correoElectronico=@correoElectronico AND contrasena=@hash;
END

GO
/****** Objeto: StoredProcedure [dbo].[saCarrUniversitariasDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCarrUniversitariasDelete] @id_carrera int AS DELETE dbo.CarrerasUniversitarias WHERE idCuniversitaria=@id_carrera;

GO
/****** Objeto: StoredProcedure [dbo].[saCarrUniversitariasInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCarrUniversitariasInsert] @id_direccion int,@nombre varchar(100),@codigo int AS INSERT dbo.CarrerasUniversitarias(idDireccionCarrera,Nombre,Codigo) VALUES(@id_direccion,@nombre,@codigo);

GO
/****** Objeto: StoredProcedure [dbo].[saCarrUniversitariasSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCarrUniversitariasSelect] @carrera varchar(100)=NULL AS
 SELECT c.idCuniversitaria,c.idDireccionCarrera,c.Codigo,c.Nombre,d.Director,d.SubDirector FROM dbo.CarrerasUniversitarias c JOIN dbo.DireccionesCarrera d ON d.idDcarrera=c.idDireccionCarrera WHERE NULLIF(@carrera,'') IS NULL OR c.Nombre LIKE '%'+@carrera+'%' ORDER BY c.Nombre;

GO
/****** Objeto: StoredProcedure [dbo].[saCarrUniversitariasUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCarrUniversitariasUpdate] @id_carrera int,@idDireccionCarrera int,@nombre varchar(100),@codigo int AS UPDATE dbo.CarrerasUniversitarias SET idDireccionCarrera=@idDireccionCarrera,Nombre=@nombre,Codigo=@codigo WHERE idCuniversitaria=@id_carrera;

GO
/****** Objeto: StoredProcedure [dbo].[saCreacionInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCreacionInsert] @id_sede int,@id_ncuatrimestre int,@id_curso int AS EXEC dbo.saOfertaInsert @id_sede,@id_ncuatrimestre,@id_curso;

GO
/****** Objeto: StoredProcedure [dbo].[saCreacionSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCreacionSelect] AS SELECT o.id_oferta,o.id_sede,o.id_cuatrimestre id_ncuatrimestre,o.id_curso,c.nombreCurso Curso,s.nombre Sede,q.NombreCuatri Cuatrimestre FROM dbo.Oferta o JOIN dbo.Cursos c ON c.idCurso=o.id_curso JOIN dbo.SedesUniversitarias s ON s.idSedeuniversitaria=o.id_sede JOIN dbo.Cuatrimestre q ON q.idCuatrimestre=o.id_cuatrimestre;

GO
/****** Objeto: StoredProcedure [dbo].[saCrearCuatrimestre] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCrearCuatrimestre]
    @idSede int,
    @numero tinyint
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @anio smallint;
    DECLARE @nombreSede varchar(100);
    DECLARE @nombreCuatrimestre varchar(50);

    SET @anio = YEAR(GETDATE());

    IF @numero NOT BETWEEN 1 AND 3
    BEGIN
        RAISERROR(
            'El cuatrimestre debe ser 1, 2 o 3.',
            16,
            1
        );

        RETURN;
    END;

    SELECT @nombreSede = nombre
    FROM dbo.SedesUniversitarias
    WHERE idSedeuniversitaria = @idSede;

    IF @nombreSede IS NULL
    BEGIN
        RAISERROR(
            'La sede seleccionada no existe.',
            16,
            1
        );

        RETURN;
    END;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Cuatrimestre
        WHERE idSede = @idSede
          AND anio = @anio
          AND numero = @numero
    )
    BEGIN
        RAISERROR(
            'El cuatrimestre ya existe para esa sede y año.',
            16,
            1
        );

        RETURN;
    END;

    SET @nombreCuatrimestre =
        CASE @numero
            WHEN 1 THEN 'I Cuatrimestre '
            WHEN 2 THEN 'II Cuatrimestre '
            WHEN 3 THEN 'III Cuatrimestre '
        END + CONVERT(varchar(4), @anio);

    INSERT INTO dbo.Cuatrimestre
    (
        idCuatri_matri,
        idSede,
        numero,
        anio,
        NombreCuatri,
        NombreSede,
        Estado,
        fecha_apertura,
        fecha_cierre
    )
    VALUES
    (
        0,
        @idSede,
        @numero,
        @anio,
        @nombreCuatrimestre,
        @nombreSede,
        'Abierto',
        CONVERT(date, GETDATE()),
        NULL
    );
END;
GO
/****** Objeto: StoredProcedure [dbo].[saCuatrimestreCerrar] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCuatrimestreCerrar] @idCuatrimestre int AS
BEGIN
 SET NOCOUNT ON; SET XACT_ABORT ON; BEGIN TRAN;
 IF EXISTS(SELECT 1 FROM dbo.RegistroNotas n JOIN dbo.Matricula m ON m.id_matricula=n.id_matricula WHERE m.id_cuatrimestre=@idCuatrimestre AND n.[Nota Final] IS NULL) THROW 51001,'No se puede cerrar: existen notas pendientes.',1;
 UPDATE dbo.Cuatrimestre SET Estado='Cerrado',fecha_cierre=CONVERT(date,GETDATE()) WHERE idCuatrimestre=@idCuatrimestre AND Estado='Abierto';
 IF @@ROWCOUNT=0 THROW 51002,'El cuatrimestre no existe o ya estÃ¡ cerrado.',1;
 COMMIT;
END

GO
/****** Objeto: StoredProcedure [dbo].[saCuatrimestreInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* PROCESOS ACADEMICOS */
CREATE   PROCEDURE [dbo].[saCuatrimestreInsert] @id_cuatri int,@id_sede int,@cuatrimestre varchar(50),@nombre_sede varchar(100),@estado varchar(20) AS
BEGIN
 DECLARE @anio smallint=YEAR(GETDATE()),@numero tinyint=TRY_CONVERT(tinyint,@id_cuatri);
 IF @numero NOT BETWEEN 1 AND 3 THROW 51000,'Solo se permiten tres cuatrimestres por aÃ±o.',1;
 INSERT dbo.Cuatrimestre(idCuatri_matri,idSede,numero,anio,NombreCuatri,NombreSede,Estado) VALUES(0,@id_sede,@numero,@anio,@cuatrimestre,@nombre_sede,'Abierto');
END

GO
/****** Objeto: StoredProcedure [dbo].[saCuatrimestreSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCuatrimestreSelect] AS SELECT q.idCuatrimestre,q.NombreCuatri,q.NombreSede,ISNULL(o.id_curso,0) id_curso FROM dbo.Cuatrimestre q LEFT JOIN dbo.Oferta o ON o.id_cuatrimestre=q.idCuatrimestre ORDER BY q.anio DESC,q.numero DESC;

GO
/****** Objeto: StoredProcedure [dbo].[saCursoFinalizar] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursoFinalizar] @idRegistro_Notas int AS
BEGIN
 IF EXISTS(SELECT 1 FROM dbo.RegistroNotas WHERE idRegistro_Notas=@idRegistro_Notas AND [Nota Final] IS NULL) THROW 51009,'Debe registrar la nota antes de finalizar.',1;
 UPDATE dbo.RegistroNotas SET Estado=CASE WHEN [Nota Final]>=7 THEN 'Aprobado' ELSE 'Reprobado' END WHERE idRegistro_Notas=@idRegistro_Notas;
END

GO
/****** Objeto: StoredProcedure [dbo].[saCursosCarreraDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosCarreraDelete] @id_cursos int AS DELETE dbo.Cursos_Carrera WHERE id_cursoscarrera=@id_cursos;

GO
/****** Objeto: StoredProcedure [dbo].[saCursosCarreraInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosCarreraInsert] @id_carrera int,@id_curso int AS INSERT dbo.Cursos_Carrera(id_carrera,id_curso) VALUES(@id_carrera,@id_curso);

GO
/****** Objeto: StoredProcedure [dbo].[saCursosCarreraSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosCarreraSelect] @carrera varchar(100)=NULL AS SELECT cc.id_cursoscarrera,cc.id_carrera,cc.id_curso,ca.Nombre,c.nombreCurso FROM dbo.Cursos_Carrera cc JOIN dbo.CarrerasUniversitarias ca ON ca.idCuniversitaria=cc.id_carrera JOIN dbo.Cursos c ON c.idCurso=cc.id_curso WHERE NULLIF(@carrera,'') IS NULL OR ca.Nombre LIKE '%'+@carrera+'%' OR c.nombreCurso LIKE '%'+@carrera+'%';

GO
/****** Objeto: StoredProcedure [dbo].[saCursosCarreraUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosCarreraUpdate] @idcursos int,@id_carrera int,@id_curso int AS UPDATE dbo.Cursos_Carrera SET id_carrera=@id_carrera,id_curso=@id_curso WHERE id_cursoscarrera=@idcursos;

GO
/****** Objeto: StoredProcedure [dbo].[saCursosDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosDelete] @id_cursos int AS DELETE dbo.Cursos WHERE idCurso=@id_cursos;

GO
/****** Objeto: StoredProcedure [dbo].[saCursosInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosInsert] @codigo int,@nombre varchar(100) AS INSERT dbo.Cursos(Codigo,nombreCurso) VALUES(@codigo,@nombre);

GO
/****** Objeto: StoredProcedure [dbo].[saCursosSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosSelect] @curso varchar(100)=NULL AS
 SELECT c.idCurso,c.id_cursomatr,c.Codigo,c.nombreCurso Curso,ISNULL(STUFF((SELECT ', '+ca.Nombre FROM dbo.Cursos_Carrera cc JOIN dbo.CarrerasUniversitarias ca ON ca.idCuniversitaria=cc.id_carrera WHERE cc.id_curso=c.idCurso FOR XML PATH('')),1,2,''),'Sin asignar') Carrera FROM dbo.Cursos c WHERE NULLIF(@curso,'') IS NULL OR c.nombreCurso LIKE '%'+@curso+'%' ORDER BY c.nombreCurso;

GO
/****** Objeto: StoredProcedure [dbo].[saCursosUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saCursosUpdate] @id_curso int,@codigo int,@nombre varchar(100) AS UPDATE dbo.Cursos SET Codigo=@codigo,nombreCurso=@nombre WHERE idCurso=@id_curso;

GO
/****** Objeto: StoredProcedure [dbo].[saDireccionCarreraInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saDireccionCarreraInsert] @codigo int,@id_director int,@id_subdirector int,@nombre varchar(100) AS
 INSERT dbo.DireccionesCarrera(id_funcionario,id_subdirector,Codigo,Director,SubDirector,Nombre) SELECT @id_director,@id_subdirector,@codigo,d.nombre,s.nombre,@nombre FROM dbo.Funcionario d LEFT JOIN dbo.Funcionario s ON s.id_funcionario=@id_subdirector WHERE d.id_funcionario=@id_director;

GO
/****** Objeto: StoredProcedure [dbo].[saDireccionesCarreraSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* DIRECCIONES, CARRERAS Y CURSOS */
CREATE   PROCEDURE [dbo].[saDireccionesCarreraSelect] @nombre varchar(100)=NULL AS
 SELECT d.idDcarrera,d.Codigo,d.id_funcionario id_director,d.id_subdirector,d.Nombre,f.nombre Funcionario,d.Director,d.SubDirector FROM dbo.DireccionesCarrera d JOIN dbo.Funcionario f ON f.id_funcionario=d.id_funcionario WHERE NULLIF(@nombre,'') IS NULL OR d.Nombre LIKE '%'+@nombre+'%' ORDER BY d.Nombre;

GO
/****** Objeto: StoredProcedure [dbo].[saDireccionesCarrerasUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saDireccionesCarrerasUpdate] @idDcarrera int,@codigo int,@id_director int,@id_subdirector int,@nombre varchar(100) AS
 UPDATE d SET Codigo=@codigo,id_funcionario=@id_director,id_subdirector=@id_subdirector,Nombre=@nombre,Director=fd.nombre,SubDirector=fs.nombre FROM dbo.DireccionesCarrera d JOIN dbo.Funcionario fd ON fd.id_funcionario=@id_director LEFT JOIN dbo.Funcionario fs ON fs.id_funcionario=@id_subdirector WHERE d.idDcarrera=@idDcarrera;

GO
/****** Objeto: StoredProcedure [dbo].[saDirreccionCarreraDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saDirreccionCarreraDelete] @idDcarrera int AS DELETE dbo.DireccionesCarrera WHERE idDcarrera=@idDcarrera;

GO
/****** Objeto: StoredProcedure [dbo].[saEstudiantesDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saEstudiantesDelete] @id_estudiante int AS DELETE dbo.Estudiantes WHERE id_estudiante=@id_estudiante;

GO
/****** Objeto: StoredProcedure [dbo].[saEstudiantesInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saEstudiantesInsert] @nombre varchar(100),@cedula int,@id_provincia int,@id_canton int,@id_distrito int,@carne int AS
 INSERT dbo.Estudiantes(nombre,cedula,provincia,canton,distrito,carne) VALUES(@nombre,@cedula,@id_provincia,@id_canton,@id_distrito,@carne);

GO
/****** Objeto: StoredProcedure [dbo].[saEstudiantesSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ESTUDIANTES */
CREATE   PROCEDURE [dbo].[saEstudiantesSelect] @nombre varchar(100)=NULL AS
 SELECT e.id_estudiante,e.id_matriculaes,e.nombre Nombre,e.cedula,e.provincia id_provincia,p.nombre Provincia,e.canton id_canton,c.nombre Canton,e.distrito id_distrito,d.nombre Distrito,e.carne Carne
 FROM dbo.Estudiantes e JOIN dbo.Provincia p ON p.id_Provincia=e.provincia JOIN dbo.Canton c ON c.id_Canton=e.canton JOIN dbo.Distrito d ON d.id_Distrito=e.distrito
 WHERE NULLIF(@nombre,'') IS NULL OR e.nombre LIKE '%'+@nombre+'%' OR CONVERT(varchar(20),e.carne) LIKE '%'+@nombre+'%' ORDER BY e.nombre;

GO
/****** Objeto: StoredProcedure [dbo].[saEstudiantesUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saEstudiantesUpdate] @id_estudiante int,@nombre varchar(100),@cedula int,@provincia int,@canton int,@distrito int,@carne int AS
 UPDATE dbo.Estudiantes SET nombre=@nombre,cedula=@cedula,provincia=@provincia,canton=@canton,distrito=@distrito,carne=@carne WHERE id_estudiante=@id_estudiante;

GO
/****** Objeto: StoredProcedure [dbo].[saFinalizacionSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saFinalizacionSelect] AS SELECT n.idRegistro_Notas id_finalizacion,n.Curso id_curso,c.nombreCurso,CONVERT(int,ISNULL(n.[Nota Final],0)) notafinal,CASE n.Estado WHEN 'Aprobado' THEN 1 WHEN 'Reprobado' THEN 2 ELSE 3 END id_estado,n.Estado estado FROM dbo.RegistroNotas n JOIN dbo.Cursos c ON c.idCurso=n.Curso;

GO
/****** Objeto: StoredProcedure [dbo].[saFuncionarioDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saFuncionarioDelete] @id_funcionario int AS DELETE dbo.Funcionario WHERE id_funcionario=@id_funcionario;

GO
/****** Objeto: StoredProcedure [dbo].[saFuncionarioInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saFuncionarioInsert] @nombre varchar(100),@cedula int,@provincia int,@canton int,@distrito int,@fecha date AS
 INSERT dbo.Funcionario(nombre,cedula,provincia,canton,distrito,fecha_contratacion) VALUES(@nombre,@cedula,@provincia,@canton,@distrito,@fecha);

GO
/****** Objeto: StoredProcedure [dbo].[saFuncionariosSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* FUNCIONARIOS */
CREATE   PROCEDURE [dbo].[saFuncionariosSelect] @nombre varchar(100)=NULL AS
 SELECT f.id_funcionario,f.nombre funcionario,f.cedula,f.provincia id_provincia,p.nombre Provincia,f.canton id_canton,c.nombre Canton,f.distrito id_distrito,d.nombre Distrito,f.fecha_contratacion
 FROM dbo.Funcionario f JOIN dbo.Provincia p ON p.id_Provincia=f.provincia JOIN dbo.Canton c ON c.id_Canton=f.canton JOIN dbo.Distrito d ON d.id_Distrito=f.distrito
 WHERE NULLIF(@nombre,'') IS NULL OR f.nombre LIKE '%'+@nombre+'%' ORDER BY f.nombre;

GO
/****** Objeto: StoredProcedure [dbo].[saFuncionarioUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saFuncionarioUpdate] @id_funcionario int,@nombre varchar(100),@cedula int,@provincia int,@canton int,@distrito int,@fecha_contratacion date AS
 UPDATE dbo.Funcionario SET nombre=@nombre,cedula=@cedula,provincia=@provincia,canton=@canton,distrito=@distrito,fecha_contratacion=@fecha_contratacion WHERE id_funcionario=@id_funcionario;

GO
/****** Objeto: StoredProcedure [dbo].[saMatriculaDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saMatriculaDelete] @id_matricula int AS BEGIN DELETE dbo.RegistroNotas WHERE id_matricula=@id_matricula; DELETE dbo.Matricula WHERE id_matricula=@id_matricula; END

GO
/****** Objeto: StoredProcedure [dbo].[saMatriculaInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saMatriculaInsert] @id_estudiante int,@id_curso int,@id_sede int,@id_cuatrimestre int AS
BEGIN
 IF NOT EXISTS(SELECT 1 FROM dbo.Oferta WHERE id_curso=@id_curso AND id_sede=@id_sede AND id_cuatrimestre=@id_cuatrimestre) THROW 51004,'El curso no estÃ¡ ofertado en la sede y cuatrimestre seleccionados.',1;
 IF EXISTS(SELECT 1 FROM dbo.Cuatrimestre WHERE idCuatrimestre=@id_cuatrimestre AND Estado='Cerrado') THROW 51005,'El cuatrimestre estÃ¡ cerrado.',1;
 IF EXISTS(SELECT 1 FROM dbo.Cursos c WHERE c.idCurso=@id_curso AND c.id_prerrequisito IS NOT NULL AND NOT EXISTS(SELECT 1 FROM dbo.RegistroNotas n WHERE n.idestudiante=@id_estudiante AND n.Curso=c.id_prerrequisito AND n.Estado='Aprobado')) THROW 51006,'El estudiante no ha aprobado el prerrequisito.',1;
 INSERT dbo.Matricula(id_estudiante,id_curso,id_sede,id_cuatrimestre,nombre_estudiante,nombre_curso,nombre_sede,cuatrimestre)
 SELECT @id_estudiante,@id_curso,@id_sede,@id_cuatrimestre,e.nombre,c.nombreCurso,s.nombre,q.NombreCuatri FROM dbo.Estudiantes e CROSS JOIN dbo.Cursos c CROSS JOIN dbo.SedesUniversitarias s CROSS JOIN dbo.Cuatrimestre q WHERE e.id_estudiante=@id_estudiante AND c.idCurso=@id_curso AND s.idSedeuniversitaria=@id_sede AND q.idCuatrimestre=@id_cuatrimestre;
 DECLARE @id int=SCOPE_IDENTITY(); INSERT dbo.RegistroNotas(id_matricula,idestudiante,Curso,Sede,id_cuatrimestre) VALUES(@id,@id_estudiante,@id_curso,@id_sede,@id_cuatrimestre);
END

GO
/****** Objeto: StoredProcedure [dbo].[saMatriculaSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saMatriculaSelect] @nombre varchar(100)=NULL AS SELECT id_matricula,id_estudiante,id_curso,id_sede,id_cuatrimestre,nombre_estudiante Estudiante,nombre_curso Curso,nombre_sede Sede,cuatrimestre Cuatrimestre FROM dbo.Matricula WHERE NULLIF(@nombre,'') IS NULL OR nombre_estudiante LIKE '%'+@nombre+'%' OR nombre_curso LIKE '%'+@nombre+'%';

GO
/****** Objeto: StoredProcedure [dbo].[saMatriculaUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saMatriculaUpdate] @id_matricula int,@id_estudiante int,@id_curso int,@id_sede int,@id_cuatrimestre int AS
 UPDATE dbo.Matricula SET id_estudiante=@id_estudiante,id_curso=@id_curso,id_sede=@id_sede,id_cuatrimestre=@id_cuatrimestre WHERE id_matricula=@id_matricula;

GO
/****** Objeto: StoredProcedure [dbo].[saNotasInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saNotasInsert] @idestudiante int,@id_curso int,@id_sede int,@notafinal int,@id_estado int AS INSERT dbo.RegistroNotas(idestudiante,Curso,Sede,[Nota Final],Estado) VALUES(@idestudiante,@id_curso,@id_sede,@notafinal,CASE WHEN @notafinal>=7 THEN 'Aprobado' ELSE 'Reprobado' END);

GO
/****** Objeto: StoredProcedure [dbo].[saOfertaInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saOfertaInsert] @id_sede int,@id_cuatrimestre int,@id_curso int AS
BEGIN
 IF EXISTS(SELECT 1 FROM dbo.Cuatrimestre WHERE idCuatrimestre=@id_cuatrimestre AND Estado='Cerrado') THROW 51003,'El cuatrimestre estÃ¡ cerrado.',1;
 INSERT dbo.Oferta(id_curso,id_sede,id_cuatrimestre) VALUES(@id_curso,@id_sede,@id_cuatrimestre);
END

GO
/****** Objeto: StoredProcedure [dbo].[saOfertaSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saOfertaSelect] @nombre varchar(100)=NULL AS SELECT o.id_oferta,o.id_curso,o.id_sede,o.id_cuatrimestre,c.nombreCurso Curso,s.nombre Sede,q.NombreCuatri Cuatrimestre FROM dbo.Oferta o JOIN dbo.Cursos c ON c.idCurso=o.id_curso JOIN dbo.SedesUniversitarias s ON s.idSedeuniversitaria=o.id_sede JOIN dbo.Cuatrimestre q ON q.idCuatrimestre=o.id_cuatrimestre WHERE NULLIF(@nombre,'') IS NULL OR c.nombreCurso LIKE '%'+@nombre+'%' OR s.nombre LIKE '%'+@nombre+'%';

GO
/****** Objeto: StoredProcedure [dbo].[saRegistro_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRegistro_ID] @idRegistro_Notas int AS SELECT idRegistro_Notas,idestudiante,Curso id_curso,Sede id_sede,CONVERT(int,ISNULL([Nota Final],0)) notafinal,CASE Estado WHEN 'Aprobado' THEN 1 WHEN 'Reprobado' THEN 2 ELSE 3 END id_estado,Estado FROM dbo.RegistroNotas WHERE idRegistro_Notas=@idRegistro_Notas;

GO
/****** Objeto: StoredProcedure [dbo].[saRegistroDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRegistroDelete] @idRegistro_Notas int AS DELETE dbo.RegistroNotas WHERE idRegistro_Notas=@idRegistro_Notas;

GO
/****** Objeto: StoredProcedure [dbo].[saRegistroNotasSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRegistroNotasSelect] @nombre varchar(100)=NULL AS SELECT n.idRegistro_Notas,n.idestudiante,n.Curso id_curso,n.Sede id_sede,CONVERT(int,ISNULL(n.[Nota Final],0)) notafinal,CASE n.Estado WHEN 'Aprobado' THEN 1 WHEN 'Reprobado' THEN 2 ELSE 3 END id_estado,e.nombre Estudiante,c.nombreCurso Curso,n.Estado FROM dbo.RegistroNotas n JOIN dbo.Estudiantes e ON e.id_estudiante=n.idestudiante JOIN dbo.Cursos c ON c.idCurso=n.Curso WHERE NULLIF(@nombre,'') IS NULL OR e.nombre LIKE '%'+@nombre+'%' OR c.nombreCurso LIKE '%'+@nombre+'%';

GO
/****** Objeto: StoredProcedure [dbo].[saRegistrosUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRegistrosUpdate] @idRegistro_Notas int,@idestudiante int,@id_curso int,@id_sede int,@notafinal int,@id_estado int AS
BEGIN
 IF @notafinal NOT BETWEEN 0 AND 10 THROW 51007,'La nota debe estar entre 0 y 10.',1;
 IF EXISTS(SELECT 1 FROM dbo.RegistroNotas n JOIN dbo.Cuatrimestre q ON q.idCuatrimestre=n.id_cuatrimestre WHERE n.idRegistro_Notas=@idRegistro_Notas AND q.Estado='Cerrado') THROW 51008,'No se pueden modificar notas de un cuatrimestre cerrado.',1;
 UPDATE dbo.RegistroNotas SET idestudiante=@idestudiante,Curso=@id_curso,Sede=@id_sede,[Nota Final]=@notafinal,Estado=CASE WHEN @notafinal>=7 THEN 'Aprobado' ELSE 'Reprobado' END WHERE idRegistro_Notas=@idRegistro_Notas;
END

GO
/****** Objeto: StoredProcedure [dbo].[saReporteAcademico] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* REPORTES */
CREATE   PROCEDURE [dbo].[saReporteAcademico] @idCurso int=NULL,@idEstudiante int=NULL,@idSede int=NULL,@idCuatrimestre int=NULL AS
 SELECT m.id_matricula IdMatricula,e.nombre Estudiante,CONVERT(varchar(20),e.carne) Carne,c.nombreCurso Curso,s.nombre Sede,q.NombreCuatri Cuatrimestre,n.[Nota Final] NotaFinal,ISNULL(n.Estado,'Pendiente') Estado
 FROM dbo.Matricula m JOIN dbo.Estudiantes e ON e.id_estudiante=m.id_estudiante JOIN dbo.Cursos c ON c.idCurso=m.id_curso JOIN dbo.SedesUniversitarias s ON s.idSedeuniversitaria=m.id_sede JOIN dbo.Cuatrimestre q ON q.idCuatrimestre=m.id_cuatrimestre LEFT JOIN dbo.RegistroNotas n ON n.id_matricula=m.id_matricula
 WHERE (@idCurso IS NULL OR m.id_curso=@idCurso) AND (@idEstudiante IS NULL OR m.id_estudiante=@idEstudiante) AND (@idSede IS NULL OR m.id_sede=@idSede) AND (@idCuatrimestre IS NULL OR m.id_cuatrimestre=@idCuatrimestre)
 ORDER BY e.nombre,c.nombreCurso;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaCarrera_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaCarrera_ID] @id_carrera int AS SELECT idCuniversitaria,idDireccionCarrera,Nombre,Codigo FROM dbo.CarrerasUniversitarias WHERE idCuniversitaria=@id_carrera;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaCuatrimestre_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaCuatrimestre_ID] @idCuatrimestre int AS SELECT idCuatrimestre,idCuatri_matri,idSede,NombreCuatri,NombreSede,Estado FROM dbo.Cuatrimestre WHERE idCuatrimestre=@idCuatrimestre;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaCurso_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaCurso_ID] @id_curso int AS SELECT idCurso,id_cursomatr,Codigo,nombreCurso FROM dbo.Cursos WHERE idCurso=@id_curso;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaCursosCarrera_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaCursosCarrera_ID] @id_cursoscarrera int AS SELECT id_cursoscarrera,id_carrera,id_curso FROM dbo.Cursos_Carrera WHERE id_cursoscarrera=@id_cursoscarrera;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaDirecciones_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaDirecciones_ID] @idDcarrera int AS SELECT idDcarrera,Codigo,id_funcionario id_director,id_subdirector,Nombre,Director,SubDirector FROM dbo.DireccionesCarrera WHERE idDcarrera=@idDcarrera;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaEstudiante_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaEstudiante_ID] @id_estudiante int AS SELECT id_estudiante,id_matriculaes,nombre,cedula,provincia id_provincia,canton id_canton,distrito id_distrito,carne FROM dbo.Estudiantes WHERE id_estudiante=@id_estudiante;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaFuncionario_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaFuncionario_ID] @id_funcionario int AS SELECT id_funcionario,nombre,cedula,provincia id_provincia,canton id_canton,distrito id_distrito,fecha_contratacion FROM dbo.Funcionario WHERE id_funcionario=@id_funcionario;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaMatricula_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaMatricula_ID] @id_matricula int AS SELECT id_matricula,id_estudiante,id_curso,id_sede,id_cuatrimestre,nombre_estudiante,nombre_curso,nombre_sede,cuatrimestre FROM dbo.Matricula WHERE id_matricula=@id_matricula;

GO
/****** Objeto: StoredProcedure [dbo].[saRetornaSede_ID] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saRetornaSede_ID] @id_sede int AS SELECT idSedeuniversitaria,id_matriculasede,codigo,id_funcionario,id_provincia,id_canton,id_distrito,DireccionFisica FROM dbo.SedesUniversitarias WHERE idSedeuniversitaria=@id_sede;

GO
/****** Objeto: StoredProcedure [dbo].[saSedeDelete] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saSedeDelete] @id_sede int AS DELETE dbo.SedesUniversitarias WHERE idSedeuniversitaria=@id_sede;

GO
/****** Objeto: StoredProcedure [dbo].[saSedesInsert] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saSedesInsert] @id_matriculasede int,@codigo int,@idFuncionario int,@id_provincia int,@id_canton int,@id_distrito int,@direccion varchar(250) AS
 INSERT dbo.SedesUniversitarias(id_matriculasede,codigo,nombre,id_funcionario,id_provincia,id_canton,id_distrito,DireccionFisica) VALUES(@id_matriculasede,@codigo,CONCAT('Sede ',@codigo),@idFuncionario,@id_provincia,@id_canton,@id_distrito,@direccion);

GO
/****** Objeto: StoredProcedure [dbo].[saSedesSelect] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* SEDES */
CREATE   PROCEDURE [dbo].[saSedesSelect] @nombresede varchar(100)=NULL AS
 SELECT s.idSedeuniversitaria,s.nombre,s.codigo,s.id_funcionario,f.nombre Funcionario,s.id_provincia,p.nombre Provincia,s.id_canton,c.nombre Canton,s.id_distrito,d.nombre Distrito,s.DireccionFisica
 FROM dbo.SedesUniversitarias s JOIN dbo.Funcionario f ON f.id_funcionario=s.id_funcionario JOIN dbo.Provincia p ON p.id_Provincia=s.id_provincia JOIN dbo.Canton c ON c.id_Canton=s.id_canton JOIN dbo.Distrito d ON d.id_Distrito=s.id_distrito
 WHERE NULLIF(@nombresede,'') IS NULL OR s.nombre LIKE '%'+@nombresede+'%' OR CONVERT(varchar(20),s.codigo) LIKE '%'+@nombresede+'%' ORDER BY s.nombre;

GO
/****** Objeto: StoredProcedure [dbo].[saSedesUpdate] Fecha de script: 9/8/2026 5:12:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[saSedesUpdate] @id_sedes int,@id_matriculasede int,@codigo int,@idFuncionario int,@provincia int,@canton int,@distrito int,@direccion varchar(250) AS
 UPDATE dbo.SedesUniversitarias SET id_matriculasede=@id_matriculasede,codigo=@codigo,id_funcionario=@idFuncionario,id_provincia=@provincia,id_canton=@canton,id_distrito=@distrito,DireccionFisica=@direccion WHERE idSedeuniversitaria=@id_sedes;

GO
